@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {font-family: "Montserrat", sans-serif;
    background-color:#757575;
}

.menu {
    width:700px;
    height:200px;
     margin-left: 690px;
  margin-right: 690px;
}

.menu_title {
    font-weight: 800;
}

.tiret {
    display:inline;
    width: 300px;
}

.prix1 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:225px;
}

.prix2 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:200px;
}

.prix3 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:84px;
}

.prix4 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:79px;
}

.prix5 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:114px;
}

.prix6 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:83px;
}

.prix7 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:69px;
}

.prix8 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:18px;
}

.prix9 {
    display:inline;
    font-weight: 400;
    color:#F6AE2D;
    margin-left:147px;
}

.badge-item {
  display:inline;   
  background-color: #33658A;
}

.menu-item_ingredients {
  color:rgb(79, 79, 79);   
  font-weight: 600;
}

.menu-item_ingredients:hover {
 color:#86BBD8;
}